
<div class="content" role="main">

  <div class="container">
    <form [formGroup]="ComputadorForm" >

        <h3>Cadastrar Computador</h3>
        <div class="row">
        <table class="table">

        <tr>
          <td>Marca</td>
          <td>
            <input type="hidden" formControlName="ComputadorId">
            <input type="text" formControlName="Marca">
            <div *ngIf="submitted && ComputadorForm.controls.Marca.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.Marca.errors.required">A Marca é obrigatória</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>Modelo</td>
          <td><input type="text" formControlName="Modelo">
            <div *ngIf="submitted && ComputadorForm.controls.Modelo.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.Modelo.errors.required">O Modelo é obrigatório</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>PlacaMae</td>
          <td>
            <input type="text" formControlName="PlacaMae">
            <div *ngIf="submitted && ComputadorForm.controls.PlacaMae.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.PlacaMae.errors.required">A Placa Mãe é obrigatória</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>MemoriaRAM</td>
          <td>
            <input type="text" formControlName="MemoriaRAM">
            <div *ngIf="submitted && ComputadorForm.controls.MemoriaRAM.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.MemoriaRAM.errors.required">A MemoriaRAM é obrigatória</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>HD</td>
          <td>
            <input type="text" formControlName="HD">
            <div *ngIf="submitted && ComputadorForm.controls.HD.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.HD.errors.required">O HD é obrigatório</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>MarcaHD</td>
          <td>
            <input type="text" formControlName="MarcaHD">
            <div *ngIf="submitted && ComputadorForm.controls.MarcaHD.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.MarcaHD.errors.required">A Marca do HD é obrigatória</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>VelocidadeProcessador</td>
          <td>
            <input type="text" formControlName="VelocidadeProcessador">
            <div *ngIf="submitted && ComputadorForm.controls.VelocidadeProcessador.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.VelocidadeProcessador.errors.required">Velocidade do Processador é obrigatório</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>Foto</td>
          <td>
            <input type="file" formControlName="Foto" (change)="handleFileInput($event)">
            <div *ngIf="submitted && ComputadorForm.controls.Foto.errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls.Foto.errors.required">A Foto é obrigatória</div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <button *ngIf="this.EventValue === 'Salvar'" type="submit" class="btn btn-primary" (click)="Salvar()">
              {{EventValue}}
            </button>

            <button *ngIf="this.EventValue === 'Atualizar'" type="submit" class="btn btn-primary" (click)="Atualizar()">
              {{EventValue}}
            </button>
          </td>
        </tr>

      </table>
     </div>
     <div class="row">
      <table class="table table-striped">

        <tr>
          <td>ID</td>
          <td>Marca</td>
          <td>Modelo</td>
          <td>PlacaMae</td>
          <td>MemoriaRAM</td>
          <td>HD</td>
          <td>MarcaHD</td>
          <td>VelocidadeProcessador</td>
          <td>Foto</td>
          <td>Editar</td>
          <td>Deletar</td>
        </tr>

        <tr *ngFor="let d of data">
          <td>{{d.computadorId}}</td>
          <td>{{d.marca}}</td>
          <td>{{d.modelo}}</td>
          <td>{{d.placaMae}}</td>
          <td>{{d.memoriaRAM}}</td>
          <td>{{d.hd}}</td>
          <td>{{d.marcaHD}}</td>
          <td>{{d.velocidadeProcessador}}</td>
          <td><img src = "{{d.foto}}" style="width: 100px; height: 100px;"></td>   <!--{{d.foto}} -->
          <td><a (click)="EditData(d)" class="btn btn-warning">Editar</a></td>
          <td><a (click)="deleteData(d.computadorId)" class="btn btn-danger">Deletar</a></td>
        </tr>

      </table>
    </div>
   </form>
  </div>


  <!-- Footer -->
  <footer>    
      <div class="github-star-badge">
          <a href="https://github.com/Burnout156/AdmComputadores">Repositório do Projeto</a>
      </div>
  </footer>
