
<div class="content" role="main">

  <div class="container">
    <form [formGroup]="ComputadorForm" >

        <h3>Cadastrar Computador</h3>
        <div class="row">
        <table class="table" class="form-group">

          <tr>
            <td>Marca</td>
            <td>
              <input type="hidden" formControlName="ComputadorId">
              <input type="text" class="form-control w-50 bg-primary" formControlName="Marca">
              <div *ngIf="submitted && ComputadorForm.get('Marca')?.hasError('required')" class="text-danger">
                A Marca é obrigatória
              </div>
            </td>
          </tr>
          
          <tr>
            <td>Modelo</td>
            <td>
              <input type="text" class="form-control w-50 bg-primary" formControlName="Modelo">
              <div *ngIf="submitted && ComputadorForm.get('Modelo')?.hasError('required')" class="text-danger">
                O Modelo é obrigatório
              </div>
            </td>
          </tr>
          
          <tr>
            <td>PlacaMae</td>
            <td>
              <input type="text" class="form-control w-50 bg-primary" formControlName="PlacaMae">
              <div *ngIf="submitted && ComputadorForm.get('PlacaMae')?.hasError('required')" class="text-danger">
                A Placa Mãe é obrigatória
              </div>
            </td>
          </tr>
          
          <tr>
            <td>MemoriaRAM</td>
            <td>
              <input type="text" class="form-control w-50 bg-primary" formControlName="MemoriaRAM">
              <div *ngIf="submitted && ComputadorForm.get('MemoriaRAM')?.hasError('required')" class="text-danger">
                A MemoriaRAM é obrigatória
              </div>
            </td>
          </tr>
          

        <tr>
          <td>HD</td>
          <td>
            <input type="text" class="form-control w-50 bg-primary" formControlName="HD">
            <div *ngIf="submitted && ComputadorForm.get('HD')?.hasError('required')" class="text-danger">
              O HD é obrigatório
            </div>
          </td>
        </tr>
        

        <tr>
          <td>MarcaHD</td>
          <td>
            <input type="text" class="form-control w-50 bg-primary" formControlName="MarcaHD">
            <div *ngIf="submitted && ComputadorForm.get('MarcaHD')?.hasError('required')" class="text-danger">
              A Marca do HD é obrigatória
            </div>
          </td>
        </tr>
        

        <tr>
          <td>VelocidadeProcessador</td>
          <td>
            <input type="text" class="form-control w-50 bg-primary" formControlName="VelocidadeProcessador">
            <div *ngIf="submitted && ComputadorForm.controls['VelocidadeProcessador'].errors" class="text-danger">
              <div *ngIf="ComputadorForm.controls['VelocidadeProcessador'].errors['required']">Velocidade do Processador é obrigatória</div>
            </div>
          </td>
        </tr>
        
        <tr>
          <td>Foto</td>
          <td>
            <input type="file" class="form-control w-50" formControlName="Foto" (change)="handleFileInput($event)">
            <div *ngIf="submitted && ComputadorForm.get('Foto')?.hasError('required')" class="text-danger">
              A Foto é obrigatória
            </div>
          </td>
        </tr>
        
        
        
        

        <tr>
          <td colspan="2">
            <button *ngIf="this.EventValue === 'Salvar'" type="submit" class="btn btn-primary" (click)="Salvar()">
              {{EventValue}}
            </button>

            <button *ngIf="this.EventValue === 'Atualizar'" type="submit" class="btn btn-primary" (click)="Atualizar()">
              {{EventValue}}
            </button>
          </td>
        </tr>

      </table>
     </div>
     <div class="row">
      <table class="table table-striped">

        <tr>
          <td>ID</td>
          <td>Marca</td>
          <td>Modelo</td>
          <td>PlacaMae</td>
          <td>MemoriaRAM</td>
          <td>HD</td>
          <td>MarcaHD</td>
          <td>VelocidadeProcessador</td>
          <td>Foto</td>
          <td>Editar</td>
          <td>Deletar</td>
        </tr>

        <tr *ngFor="let d of data">
          <td>{{d.computadorId}}</td>
          <td>{{d.marca}}</td>
          <td>{{d.modelo}}</td>
          <td>{{d.placaMae}}</td>
          <td>{{d.memoriaRAM}}</td>
          <td>{{d.hd}}</td>
          <td>{{d.marcaHD}}</td>
          <td>{{d.velocidadeProcessador}}</td>
          <td><img src = "{{d.foto}}" style="width: 100px; height: 100px;"></td>   <!--{{d.foto}} -->
          <td><a (click)="EditData({ computadorId: d.computadorId, marca: d.marca, modelo: d.modelo, placaMae: d.placaMae, memoriaRAM: d.memoriaRAM, hd: d.hd, marcaHD: d.marcaHD, velocidadeProcessador: d.velocidadeProcessador, foto: d.foto })" class="btn btn-warning">Editar</a></td>
          <td><a (click)="deleteData(d.computadorId!)" class="btn btn-danger">Deletar</a></td>
        </tr>

      </table>
    </div>
   </form>
  </div>


  <!-- Footer -->
  <footer>    
      <div class="github-star-badge">
          <a href="https://github.com/Burnout156/AdmComputadores">Repositório do Projeto</a>
      </div>
  </footer>
